---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <h1>Full-stack developer and software engineer</h1>
    <p>
      Hi, my name is Anurag and I am a full-stack engineer from Kolkata. I
      specialize in TypeScript and Angular and have experience working with a
      variety of web frameworks.
    </p>
  </body>
</html>
