---
import Links from './Links.astro';

const currentYear = new Date().getFullYear();
---

<footer class="py-4 flex justify-between items-center flex-wrap gap-4">
  <Links />
  <p class="text-sm font-medium text-zinc-700">
    © {currentYear} Anurag Roy. This site is <a
      href="https://github.com/anurag-roy/anuragroy.dev"
      class="underline underline-offset-2">open-source</a
    >.
  </p>
</footer>
