---
import Links from './Links.astro';
---

<header class="py-2 flex items-center gap-2">
  <a href="/" aria-label="Home" class="rounded-full shadow-sm hover:scale-105">
    <img src="/memoji.webp" alt="Anurag Roy" class="h-8 w-8" />
  </a>
  <h1
    class="text-sm font-serif uppercase font-bold tracking-wide text-zinc-900"
  >
    Anurag Roy
  </h1>
  <Links />
</header>
