---
import Links from './Links.astro';
---

<header class="py-2 flex items-center gap-2">
  <h1
    class="text-sm font-serif uppercase font-bold tracking-wide text-zinc-900"
  >
    Anurag Roy
  </h1>
  <Links />
</header>
