<header class="p-4 flex items-center justify-between">
  <a href="/" aria-label="Home">
    <img
      src="/memoji.webp"
      alt="Anurag Roy"
      class="h-14 w-14 rounded-full border-2 border-white shadow-sm"
    />
  </a>
  <!-- <button
    class="flex items-center gap-3 pl-4 pr-3 py-2 text-zinc-700 text-sm font-medium border rounded-full shadow-sm"
    >Menu
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
      ></path>
    </svg>
  </button> -->
</header>
